AlgoritmXML/RSA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rsa">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="d"/>
                <xs:element type="xs:byte" name="e"/>
                <xs:element type="xs:integer" name="n"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>